certifi==2020.12.5
cffi==1.14.5
cycler==0.10.0
kiwisolver @ file:///C:/ci/kiwisolver_1612282606037/work
matplotlib @ file:///C:/ci/matplotlib-suite_1613408055530/work
mkl-fft==1.3.0
mkl-random @ file:///C:/ci/mkl_random_1618854156666/work
mkl-service==2.3.0
numpy @ file:///C:/ci/numpy_and_numpy_base_1620833114945/work
olefile==0.46
Pillow @ file:///C:/ci/pillow_1617386341487/work
pycparser==2.20
pyparsing @ file:///home/linux1/recipes/ci/pyparsing_1610983426697/work
PySoundFile==0.9.0.post1
python-dateutil @ file:///home/ktietz/src/ci/python-dateutil_1611928101742/work
robotframework==3.2.1
sip==4.19.13
six @ file:///C:/ci/six_1605187374963/work
torch==1.8.1
torchaudio==0.8.1
torchvision==0.9.1
tornado @ file:///C:/ci/tornado_1606942392901/work
tqdm @ file:///tmp/build/80754af9/tqdm_1615925068909/work
typing-extensions @ file:///home/ktietz/src/ci_mi/typing_extensions_1612808209620/work
wincertstore==0.2
